@page
@model appCore.Pages.usuario.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/_ViewImports.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usuario.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario.Sobrenome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usuario.Sobrenome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario.Apelido)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usuario.Apelido)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario.Senha)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usuario.Senha)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario.Ativo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usuario.Ativo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario.Datainclusao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usuario.Datainclusao)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Usuario.Userid" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
