@page
@model appCore.Pages.usuario.DetailsModel


<h1>Details</h1>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usuario.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario.Sobrenome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usuario.Sobrenome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario.Apelido)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usuario.Apelido)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario.Senha)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usuario.Senha)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario.Ativo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usuario.Ativo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario.Datainclusao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usuario.Datainclusao)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Usuario?.Userid">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
